body {
  background-color: #e6e6e6;
  color: #000000;
  font-family: 'Inter', 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}

h1, h2, h3 {
  color: #000000;
  font-weight: 700;
}

a {
  color: #000000;
  text-decoration: underline;
}

header, footer {
  background-color: #e6e6e6;
  text-align: center;
  padding: 20px;
}
